<div id="<%= dom_id(post, :like) %>" class="flex items-center gap-4">   
    <div class="w-10">
        <% if like = current_user.likes.where(post_id: post.id).last %>
            <%= link_to '#', class:"hover:text-blue-300" do %>
                <%= render Icons::ThumpsUpSolidComponent.new %>
            <% end %> 
        <% else %>
            <%= link_to post_likes_path(post), class:"hover:text-blue-300", data: { turbo_method: :post } do %>
                <%= render Icons::ThumpsUpComponent.new %>
            <% end %>
        <% end %>
    </div>

    <%= @post.likes.count %>

</div>